body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--backgroundColor);
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px;
}

.centerTable {
  margin: 0px auto;
}

h2 {
    color: #3f51b5;
}
  
h1 {
  color: var(--primary);
}

p {
  color: var(--textColor)
}

button {
  background-color: var(--buttonColor);
  color: var(--textColor);
  padding: .8rem;
}

.login{ 
  margin-top: '200px';
  background-color: var(--backgroundColor)
}